@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: green;
}

.project-link:hover {
  color: green;
}

.dark {
  background: black;
  color: white;
}

.light {
  background-color: white;
  color: black;
}

.center {
  padding-right: calc(50% - 570px);
  padding-left: calc(50% - 570px);
}

.header {
  font-size: larger;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.left-part {
  text-transform: uppercase;
  text-decoration: none;
}

.right-part {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.burger-box {
  display: flex;
  flex-direction: column;
  padding: 20px 50px 20px 20px;
  gap: 3px;
  position: relative;
  border-radius: 7px;
}

.burger-box__item {
  width: 30px;
  border: 2px solid white;
  border-radius: 7px;
  transition: all 0.5s;
  position: absolute;
  z-index: 0;
}

.title {
  height: 85vh;
  text-transform: uppercase;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 42px;
  font-weight: bold;
  flex-direction: column;
}

.title__name {
  font-size: 100px;
  font-weight: bold;
  animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
  text-align: center;
  margin-bottom: 0;
}

.title__position {
  font-size: 30px;
  margin: 0;
}

.changeThemeButton {
  padding: 7px;
  border-radius: 10px;
  background-color: white;
  border-color: black;
  align-self: flex-end;
  font-family: "Comfortaa", sans-serif;
  cursor: pointer;
  box-shadow: none;
}

.experience, .skills, .education {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.experience-box {
  position: relative;
  width: 90%;
  min-height: 90vh;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
}

.arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 11px;
  border-radius: 50%;
  background-color: white;
  color: black;
  top: -25px;
  text-align: center;
  align-content: center;
  z-index: 1;
  font-size: 24px;
}

.arrow:hover {
  color: white;
  border: black;
  z-index: 1;
  background-color: black;
}

.experience-block {
  text-align: left;
}

.experience-item {
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}

.company {
  font-weight: bold;
}

.myprojects-title {
  margin-top: 35px;
}

.education {
  min-height: fit-content;
}

.education-item {
  margin-bottom: 40px;
}

.education-item:first-of-type {
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.experience-title, .education-title, .skills-title, .contacts-title {
  text-transform: uppercase;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.practice-about {
  margin-top: 40px;
}

.practice-item {
  margin-bottom: 20px;
}

.practice-link {
  margin: 7px 0 0 0;
}

.skills {
  margin-bottom: inherit;
  padding-bottom: 50px;
  min-height: auto;
}

.skills-box {
  width: 90%;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  text-align: left;
  overflow: hidden;
}

.skills-title {
  margin-bottom: 0;
}


.skills-subtitle {
  list-style: none;
  font-size: 20px;
  padding: 50px 20px;
  border-bottom: 1px solid rgb(220, 220, 220);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.skills-details[open] .skills-subtitle {
  border-bottom: none;
}

.skills-subtitle::after {
  content: '+';
  font-size: 28px;
  transition: transform 0.3s ease;
}

.skills-details[open] .skills-subtitle::after {
  transform: rotate(135deg);
}

.skills-details[close] .skills-subtitle::after {
  transform: rotate(0deg);
}

.skills-subtitle:hover::after {
  transform: rotate(180deg);
}

.skills-list {
  margin: 0;
  border-radius: 10px;
  padding: 20px 10px 20px 30px;
  line-height: 22px;
}

.education-box {
  width: 90%;
}

.degree {
  font-weight: bold;
  font-size: 18px;
}

.contacts {
  min-height: 100vh;
  background-color: black;
  color: white;
  padding-bottom: 10px;
}

.button-back {
  margin-top: 20px;
  margin-left: 20px;
}

.contacts-title {
  margin: 0;
  padding: 50px 0 50px;
}

.contacts-box {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
}

.contacts-info {
  text-align: left;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 16px;
}

.contacts-input {
  border: none;
  width: 300px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
  transition: box-shadow 0.3s ease;
}

.contacts-input:hover {
  box-shadow: 0 3px 0 0 #9d00ff;
}

textarea.contacts-input {
  width: 500px;
  height: 200px;
}

.contacts-item {
  display: flex;
  justify-content: left;
  align-items: center;
}

.contacts-icon {
  background-color: white;
  margin-right: 20px;
}

.contacts-form-item {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

label {
  margin-bottom: 10px;
}

.button-send, .button-back {
  background-color: black;
  color: white;
  font-size: 18px;
  border: none;
  padding: 5px;
  font-family: "Comfortaa", sans-serif;
}

.button-send:hover, .button-back:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 5px;
  font-family: "Comfortaa", sans-serif;
}