@-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: green;
}

.dark {
  background: black;
  color: white;
}

.light {
  background-color: white;
  color: black;
}

.header {
  font-size: larger;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px;
}

.left-part {
  text-transform: uppercase;
}

.right-part {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.burger-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px 50px 20px 20px;
  gap: 3px;
  position: relative;
  border-radius: 7px;
}

.burger-box__item {
  width: 30px;
  border: 2px solid white;
  border-radius: 7px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  z-index: 0;
}

.title {
  height: 80vh;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 42px;
  font-weight: bold;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 0 30px;
}

.title__name {
  font-size: 100px;
  font-weight: bold;
  -webkit-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
  animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s both;
  text-align: center;
  margin-bottom: 0;
}

.title__position {
  font-size: 30px;
  margin: 0;
}

.changeThemeButton {
  padding: 7px;
  border-radius: 10px;
  color: black;
  background-color: white;
  border-color: black;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-family: "Comfortaa", sans-serif;
  cursor: pointer;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 70px;
}

.about-box {
  padding: 0 60px;
  text-indent: 25px;
}

.about-title {
  text-transform: uppercase;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.footer {
  padding-bottom: 20px;
  text-align: center;
  margin: 0;
  font-size: 12px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .title__name {
    font-size: 70px;
    -webkit-animation: none;
    animation: none;
  }
}

@media (max-width: 768px) {
  a {
    font-size: 14px;
  }

  ol {
    padding: 0;
  }

  ul {
    padding: 0 17px;
  }

  .dark, .light {
    padding: 0 5px;
  }

  .header {
    padding: 10px;
  }

  .burger-box {
    padding: 15px 30px 21px 15px;
  }

  .burger-box__item {
    border: 1px solid white;
    width: 13px;
  }

  .title {
    height: 52vh;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .arrow {
    position: inherit;
    top: -10px;
  }

  .title__name {
    font-size: 50px;
    -webkit-animation: none;
            animation: none;
    margin-top: 100px;
    margin-bottom: 30px;
  }

  .title__position {
    font-size: 20px;
    margin: 0 0 77px;
  }

  .about-title {
    font-size: 30px;
    margin-bottom: 0px;
  }

  .about-box {
    padding: 0 10px;
  }
}